<div class="row">
	<div class="col-sm-8 col-md-4 sticky-column">

		<div class="theiaStickySidebar">
			<h2 class="block-title mv5" data-title="Opinions">Opinions</h2>

			<div class="category-block articles">
				<div class="post first hover-dark">
					<a href="post.html#/{{article.id}}">
						<div class="image" data-src="images/news/opinion-01.jpg">
							<img src="{{api_url}}image/{{opinion.image_id}}" alt="Proportion">
						</div>
					</a>
					<div class="meta">
						<span class="author">{{opinion.author}}</span> <span class="date">2h</span>
					</div>
					<h4>
						<a href="post.html#/{{opinion.id}}">{{opinion.name}}</a>
					</h4>
					<p>{{opinion.intro}}...</p>
				</div>


				<div class="post hover-light clear-left" ng-repeat="article in opinions">
					<a href="post.html#/{{article.id}}">
						<div class="image image-thumb">
							<img src="{{api_url}}image/{{article.image_id}}" alt="Proportion"></div>
					</a>
					<h4>
						<a href="post.html#/{{article.id}}">{{article.name}}</a>
					</h4>
					<p>{{article.intro}}...</p>
					<div class="meta">
						<span class="author">{{article.author}}</span> <span class="date">2h</span>
					</div>
				</div>

				

			</div>
		</div>

	</div>
	<!-- end .col-4 -->


	<div class="col-sm-4 col-md-2 sticky-column ">

		<div class="theiaStickySidebar">
			<div class="mv4"></div>

			<h3 class="title-middle title-border text-center">Trending</h3>

			<div class="category-block articles">
				<div class="post" ng-repeat="article in trending1">
					<h4>
						<a href="post.html#/{{article.id}}">{{article.name}}</a>
					</h4>
					<p>{{article.intro}}...</p>
					<div class="meta">
						<span class="author">{{article.author}}</span> <span class="date">2h</span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- end .col-4 -->

	<div class="col-sm-4 col-md-2 sticky-column sm-clear-left">

		<div class="theiaStickySidebar">
			<div class="mv4"></div>

			<h3 class="title-middle title-border text-center">Trending</h3>

			<div class="category-block articles">
				<div class="post" ng-repeat="article in trending2">
					<h4>
						<a href="post.html#/{{article.id}}">{{article.name}}</a>
					</h4>
					<p>{{article.intro}}...</p>
					<div class="meta">
						<span class="author">{{article.author}}</span> <span class="date">2h</span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- end .col-4 -->




	<div class="col-sm-8 col-md-4 sticky-column">

		<div class="theiaStickySidebar">
			<div class="mv4"></div>

			<div class="category-block articles">
				<div class="post first hover-dark">
					<a href="post.html#/{{article.id}}">
						<div class="image" data-src="images/news/opinion-02.jpg">
							<img src="images/5x3.png" alt="Proportion">
						</div>
					</a>
					<div class="meta">
						<span class="author">Richard Agidee</span> <span class="date">2h</span>
					</div>
					<h4>
						<a href="post.html#/{{article.id}}">North Carolina Voter ID Law Is Upheld by
							Federal Judge</a>
					</h4>
					<p>North Carolina Voter ID Law Is Upheld by Federal Judge...</p>
				</div>
				<div class="border-line mv5 mvt0"></div>

				<div class="row">

					<div class="col-xs-6 col-sm-6">
						<div class="post hover-light">
							<div class="image video-frame"
								data-src="images/news/video-small-01.jpg">
								<img src="images/1x1.png" alt="Proportion" /> <a
									class="video-player video-player-small"
									href="https://player.vimeo.com/video/164110862"></a>
							</div>
							<div class="meta">
								<span class="author">Richard Agidee</span> <span class="date">2h</span>
							</div>
							<h4>
								<a href="post.html#/{{article.id}}">North Carolina Voter ID wounded in the
									court</a>
							</h4>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6">
						<div class="post hover-light">
							<div class="image video-frame"
								data-src="images/news/video-small-02.jpg">
								<img src="images/1x1.png" alt="Proportion" /> <a
									class="video-player video-player-small"
									href="https://player.vimeo.com/video/164110862"></a>
							</div>
							<div class="meta">
								<span class="author">Richard Agidee</span> <span class="date">2h</span>
							</div>
							<h4>
								<a href="post.html#/{{article.id}}">National Selebs in Every Direction It
									Makes Happy Day</a>
							</h4>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6">
						<div class="post hover-light">
							<div class="image video-frame"
								data-src="images/news/video-small-03.jpg">
								<img src="images/1x1.png" alt="Proportion" /> <a
									class="video-player video-player-small"
									href="https://player.vimeo.com/video/164110862"></a>
							</div>
							<div class="meta">
								<span class="author">Richard Agidee</span> <span class="date">2h</span>
							</div>
							<h4>
								<a href="post.html#/{{article.id}}">Officers were wounded in the become
									left</a>
							</h4>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6">
						<div class="post hover-light">
							<div class="image video-frame"
								data-src="images/news/video-small-04.jpg">
								<img src="images/1x1.png" alt="Proportion" /> <a
									class="video-player video-player-small"
									href="https://player.vimeo.com/video/164110862"></a>
							</div>
							<div class="meta">
								<span class="author">Richard Agidee</span> <span class="date">2h</span>
							</div>
							<h4>
								<a href="post.html#/{{article.id}}">Times on the Air France’s Fresh Grief
									Healing More</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- end .row -->
			</div>
		</div>

	</div>
	<!-- end .col-4 -->


	<div class="col-sm-12">
		<div class="border-line mv3 mvt0"></div>
	</div>
</div>
<!-- end row -->

 <!-- ng:class="{true:'post first hover-dark', false:'post hover-light clear-left'}[$index==0]" -->