<div class="swiper-container carousel-container">
	<div class="swiper-wrapper animated-blocks">


		<div class="swiper-slide" ng-if="latest1">

			<div class="masonry-layout row" data-col-width=".col-md-3">

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item" ng-repeat="article in latest1">
					<div class="post text-light color1">
						<div class="image" data-src="images/entertainment/post-01.png">
							<img src="{{api_url}}image/{{article.image_id}}" alt="Placeholder" style="height:100%;">
						</div>
						<div class="post-content">
							<div class="meta mb0">
								<span class="author">{{article.author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{article.id}}">{{article.name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->
			</div>
			<!-- /.masonry-layout -->
		</div>
		<!-- /.swiper-slide -->


		<div class="swiper-slide" ng-if="latest2">

			<div class="masonry-layout row" data-col-width=".col-md-3">
		
			<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item" ng-repeat="article in latest2">
					<div class="post">
						<div class="image" data-src="images/entertainment/post-01.png">
							<img src="{{api_url}}image/{{article.image_id}}" alt="Placeholder" style="height:100%;">
						</div>
						<div class="post-content">
							<div class="meta mb0">
								<span class="author">{{article.author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{article.id}}">{{article.name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

			</div>
			<!-- /.masonry-layout -->
		</div>
		<!-- /.swiper-slide -->


		<div class="swiper-slide" ng-if="latest3">

			<div class="masonry-layout row" data-col-width=".col-md-3">
				
				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item" ng-repeat="article in latest3">
					<div class="post">
						<div class="image" data-src="images/entertainment/post-01.png">
							<img src="{{api_url}}image/{{article.image_id}}" alt="Placeholder" style="height:100%;">
						</div>
						<div class="post-content">
							<div class="meta mb0">
								<span class="author">{{article.author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{article.id}}">{{article.name}}</a>
							</h4>
						</div>
					</div>

				</div>
				
				<!-- /.col -->

			</div>
			<!-- /.masonry-layout -->
		</div>
		<!-- /.swiper-slide -->


	</div>
	<!-- /.swiper-wrapper -->

	<div class="pagination-next-prev bordered">
		<a href="#" class="swiper-button-prev arrow-link" title="Prev"><img
			src="images/arrow-left.png" alt="Arrow"></a> <a href="#"
			class="swiper-button-next arrow-link" title="Next"><img
			src="images/arrow-right.png" alt="Arrow"></a>
	</div>

</div>
<!-- /.swiper-container -->