<div class="swiper-container carousel-container">
	<div class="swiper-wrapper animated-blocks">


		<div class="swiper-slide" ng-if="latest1">

			<div class="masonry-layout row" data-col-width=".col-md-3">

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post">
						<div class="image">
							<img src="{{api_url}}image/{{latest1[0].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<div class="meta mb0">
								<span class="author">{{latest1[0].author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{latest1[0].id}}">{{latest1[0].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-6 masonry-item ab-item">
					<div class="post text-light color-1">
						<div class="image" data-src="images/entertainment/post-02.png">
							<img src="{{api_url}}image/{{latest1[1].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<a href="post.html#/{{latest1[1].id}}">{{latest1[1].name}}</a>
							<h4 class="font36">
								<a href="post.html#/{{latest1[1].id}}">{{latest1[1].intro}}</a>
							</h4>
							<div class="meta mb0">
								<span class="author">{{latest1[1].author}}</span>
							</div>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post">
						<div class="image" data-src="images/entertainment/post-03.png">
							<img src="{{api_url}}image/{{latest1[2].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content post-content-bottom">
							<div class="meta mb0">
								<span class="author">{{latest1[2].author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{latest1[2].id}}">{{latest1[2].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post text-light">
						<div class="image" data-src="images/entertainment/post-04.png">
							<img src="{{api_url}}image/{{latest1[3].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content meta-bottom">
							<h4 class="font36">
								<a href="post.html#/{{latest1[3].id}}">{{latest1[3].name}}
								</a>
							</h4>
							<div class="meta mb0 white">
								<span class="author">{{latest1[3].author}}</span>
							</div>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post text-light half-height">
						<div class="image" data-src="images/entertainment/post-05.png">
							<img src="{{api_url}}image/{{latest1[4].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<div class="meta mb0 white">
								<span class="author">{{latest1[4].author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{latest1[4].id}}">{{latest1[4].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-6 masonry-item ab-item">
					<div class="post">
						<div class="image" data-src="images/entertainment/post-06.jpg">
							<img src="{{api_url}}image/{{latest1[5].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<h4>
								<a href="post.html#/{{latest1[5].id}}">{{latest1[5].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post half-height">
						<div class="image" data-src="images/entertainment/post-07.png">
							<img src="{{api_url}}image/{{latest1[6].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<h4>
								<a href="post.html#/{{latest1[6].id}}">{{latest1[6].name}}
								</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				
			</div>
			<!-- /.masonry-layout -->
		</div>
		<!-- /.swiper-slide -->


		<div class="swiper-slide" ng-if="latest2">

			<div class="masonry-layout row" data-col-width=".col-md-3">

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post">
						<div class="image">
							<img src="{{api_url}}image/{{latest2[0].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<div class="meta mb0">
								<span class="author">{{latest2[0].author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{latest2[0].id}}">{{latest2[0].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-6 masonry-item ab-item">
					<div class="post text-light color-1">
						<div class="image" data-src="images/entertainment/post-02.png">
							<img src="{{api_url}}image/{{latest2[1].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<a href="post.html#/{{latest2[1].id}}">{{latest2[1].name}}</a>
							<h4 class="font36">
								<a href="post.html#/{{latest2[1].id}}">{{latest2[1].intro}}</a>
							</h4>
							<div class="meta mb0">
								<span class="author">{{latest2[1].author}}</span>
							</div>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post">
						<div class="image" data-src="images/entertainment/post-03.png">
							<img src="{{api_url}}image/{{latest2[2].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content post-content-bottom">
							<div class="meta mb0">
								<span class="author">{{latest2[2].author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{latest2[2].id}}">{{latest2[2].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post text-light">
						<div class="image" data-src="images/entertainment/post-04.png">
							<img src="{{api_url}}image/{{latest2[3].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content meta-bottom">
							<h4 class="font36">
								<a href="post.html#/{{latest2[3].id}}">{{latest2[3].name}}
								</a>
							</h4>
							<div class="meta mb0 white">
								<span class="author">{{latest2[3].author}}</span>
							</div>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post text-light half-height">
						<div class="image" data-src="images/entertainment/post-05.png">
							<img src="{{api_url}}image/{{latest2[4].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<div class="meta mb0 white">
								<span class="author">{{latest2[4].author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{latest2[4].id}}">{{latest2[4].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-6 masonry-item ab-item">
					<div class="post">
						<div class="image" data-src="images/entertainment/post-06.jpg">
							<img src="{{api_url}}image/{{latest2[5].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<h4>
								<a href="post.html#/{{latest2[5].id}}">{{latest2[5].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post half-height">
						<div class="image" data-src="images/entertainment/post-07.png">
							<img src="{{api_url}}image/{{latest2[6].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<h4>
								<a href="post.html#/{{latest2[6].id}}">{{latest2[6].name}}
								</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

			</div>
			<!-- /.masonry-layout -->
		</div>
		<!-- /.swiper-slide -->


		<div class="swiper-slide" ng-if="latest3">

			<div class="masonry-layout row" data-col-width=".col-md-3">

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post">
						<div class="image">
							<img src="{{api_url}}image/{{latest3[0].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<div class="meta mb0">
								<span class="author">{{latest3[0].author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{latest3[0].id}}">{{latest3[0].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-6 masonry-item ab-item">
					<div class="post text-light color-1">
						<div class="image" data-src="images/entertainment/post-02.png">
							<img src="{{api_url}}image/{{latest3[1].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<a href="post.html#/{{latest3[1].id}}">{{latest3[1].name}}</a>
							<h4 class="font36">
								<a href="post.html#/{{latest3[1].id}}">{{latest3[1].intro}}</a>
							</h4>
							<div class="meta mb0">
								<span class="author">{{latest3[1].author}}</span>
							</div>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post">
						<div class="image" data-src="images/entertainment/post-03.png">
							<img src="{{api_url}}image/{{latest3[2].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content post-content-bottom">
							<div class="meta mb0">
								<span class="author">{{latest3[2].author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{latest3[2].id}}">{{latest3[2].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post text-light">
						<div class="image" data-src="images/entertainment/post-04.png">
							<img src="{{api_url}}image/{{latest3[3].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content meta-bottom">
							<h4 class="font36">
								<a href="post.html#/{{latest3[3].id}}">{{latest3[3].name}}
								</a>
							</h4>
							<div class="meta mb0 white">
								<span class="author">{{latest3[3].author}}</span>
							</div>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post text-light half-height">
						<div class="image" data-src="images/entertainment/post-05.png">
							<img src="{{api_url}}image/{{latest3[4].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<div class="meta mb0 white">
								<span class="author">{{latest3[4].author}}</span>
							</div>
							<h4>
								<a href="post.html#/{{latest3[4].id}}">{{latest3[4].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-6 masonry-item ab-item">
					<div class="post">
						<div class="image" data-src="images/entertainment/post-06.jpg">
							<img src="{{api_url}}image/{{latest3[5].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<h4>
								<a href="post.html#/{{latest3[5].id}}">{{latest3[5].name}}</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

				<div class="col-xs-12 col-sm-4 col-md-3 masonry-item ab-item">
					<div class="post half-height">
						<div class="image" data-src="images/entertainment/post-07.png">
							<img src="{{api_url}}image/{{latest3[6].image_id}}" alt="Placeholder">
						</div>
						<div class="post-content">
							<h4>
								<a href="post.html#/{{latest3[6].id}}">{{latest3[6].name}}
								</a>
							</h4>
						</div>
					</div>

				</div>
				<!-- /.col -->

			</div>
			<!-- /.masonry-layout -->
		</div>
		<!-- /.swiper-slide -->


	</div>
	<!-- /.swiper-wrapper -->

	<div class="pagination-next-prev bordered">
		<a href="#" class="swiper-button-prev arrow-link" title="Prev"><img
			src="images/arrow-left.png" alt="Arrow"></a> <a href="#"
			class="swiper-button-next arrow-link" title="Next"><img
			src="images/arrow-right.png" alt="Arrow"></a>
	</div>

</div>
<!-- /.swiper-container -->